<div  class="row">
    <div class="column">
      <img src="assets/images/58.1.png" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img src="assets/images/58.2.png" alt="Forest" style="width:100%">
    </div>
    <div class="column3">
      <h6><b>WROGN</b><br>
        Men Grey Melange Self Design Welt Pocket T-shirt<br/></h6>
       
       <br>
    <h4><b>Rs:699</b><i>(RS 500 OFF)</i><h5>Rs:1199</h5></h4>
    <h6><i class="italic"> inclusive of all taxes</i></h6>
        <div class="column">
        <div class="res-circle">
        <div class="circle-txt">S</div>
      </div>
      <div class="res-circle">
        <div class="circle-txt">M</div>
      </div>
      <div class="res-circle">
        <div class="circle-txt">L</div>
      </div>
      <div class="res-circle">
        <div class="circle-txt">XL</div>
      </div>
      <div class="buttons">
        <div class="action_btn">
        
        <button class="action_btn btn btn-success">Buy Now</button>
        <button name="submit" class="action_btn btn btn-success" >Add to Cart</button>
        </div>
         </div>
        </div>
       
    </div>
  </div>
  <div class="row">
    <div class="column">
      <img src="assets/images/58.3.png" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img src="assets/images/58.1.png" alt="Forest" style="width:100%">
    </div>
  </div>

  