<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom"> <a class="navbar-brand ml-2 font-weight-bold" href="#">Shop for all Brands</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor" aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarColor">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#">Saree</a> </li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/kids/dashboard']">Jeans</a> </li>
            <li class="nav-item "><a class="nav-link" href="#">Accessiories</a> </li>
            <li class="nav-item "><a class="nav-link" href="#">Jewellery</a> </li>
        </ul>
    </div>
    
  </nav>
  <div id="sidebar">
    <div>
        <h6 class="p-1 border-bottom">Women Wear</h6>
        <ul>
            <li><a href="#">Saree</a></li>
            <li><a href="">Dress Material</a></li>
            <li><a href="#">Jeans</a></li>
            <li><a href="#">Accessiories</a></li>
            <li><a href="#">Jewellery</a></li>
        </ul>
    </div>
    <div>
        <h6 class="p-1 border-bottom">Filter By</h6>
        <p class="mb-2">Color</p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1" id="red"></span>Red </a></li>
            <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1" id="black"></span>Black </a></li>
            <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1" id="blue"></span>Blue </a></li>
        </ul>
    </div>
    <div>
        <h6>Size</h6>
        <form class="ml-md-2">
            <div class="form-inline border rounded p-sm-2 my-2"> <input type="radio" name="type" id="boring"> <label for="boring" class="pl-1 pt-sm-0 pt-1">Small</label> </div>
            <div class="form-inline border rounded p-sm-2 my-2"> <input type="radio" name="type" id="ugly"> <label for="ugly" class="pl-1 pt-sm-0 pt-1">Medium</label> </div>
            <div class="form-inline border rounded p-md-2 p-sm-1"> <input type="radio" name="type" id="notugly"> <label for="notugly" class="pl-1 pt-sm-0 pt-1">Large</label> </div>
        </form>
    </div>
  </div>
  <div id="products">
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1" *ngFor="let prod of prodList">
            <div > <img src="assets/images/{{prod.image}}" alt="Snow" style="width:200px">
                <div class="card-body">
                  
   <h6><b>{{prod.brand}}</b></h6>
   <!-- <h6>Sizes: M,L,XL,XXL</h6> -->
   <h6>RS:{{prod.price}}</h6>
   <button class="btn btn-success">Buy Now</button>
   <button class="btn btn-success" [routerLink]="['/shoppingcart']" style="margin: 10px;">Add to cart</button>
                   
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
          <div > <img src="assets/images/64.png" alt="Snow" style="width:200px">
              <div class="card-body">
                
  <h6><b>Here & Now</b></h6>
  <h6>Sizes:M,L,XL,XXL</h6>
  <h6>RS:399<i>(RS 300 OFF)</i><h5>Rs:799</h5></h6>
  <button class="btn btn-success">Buy Now</button>
                 
              </div>
          </div>
      </div> -->
      
        </div>
    </div>
  </div>