 <!---<div class="wrapper">
   <img src="assets/images/1.gif" width="500Px" height="350px">
   <img src="assets/images/6.png" width="500Px" height="350px">
   <img src="assets/images/5.png" width="500px" height="350px">
   <img src="assets/images/4.png" width="500Px" height="350px">
 </div>&nbsp;&nbsp;&nbsp;
 <img src="assets/images/8.png" width="1263Px" height="200px">
 &nbsp;-->
 <h3>&nbsp;T-shirts</h3>

 <div class="row">
   <div class="column">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/54.png" alt="Snow" style="width:200px"><br>
         
         
   </div>
   <div class="column">
     <img src="assets/images/55.png" alt="Snow" style="width:200px">
     <h6><b>Here & Now</b></h6>
     <h6>Sizes:M,L,XL,XXL</h6>
     <h6>RS:399<i>(RS 300 OFF)</i><h5>Rs:799</h5></h6>
     <button class="btn btn-success">Buy Now</button>
   </div>
   <div class="column"  [routerLink]="['/viewproduct']">
    <img src="assets/images/58.png" alt="Snow" style="width:200px">
    <h6><b>WRONG</b></h6>
    <h6>Sizes:M,L,XL,XXL</h6>
    <h6>RS:699<i>(RS 500 OFF)</i><h5>Rs:1199</h5></h6>
    <button class="btn btn-success">Buy Now</button>
  </div>
  <div class="column">
    <img src="assets/images/56.png" alt="Snow" style="width:200px">
    <h6><b>FIDO FIDO</b></h6>
    <h6>Sizes:M,L,XL,XXL</h6>
    <h6>RS:599<i>(RS 400 OFF)</i><h5>Rs:999</h5></h6>
    <button class="btn btn-success">Buy Now</button>
  </div>
  <div class="column">
    <img src="assets/images/57.png" alt="Snow" style="width:200px">
    <h6><b>HERE & NOW</b></h6>
    <h6>Sizes:M,L,XL,XXL</h6>
    <h6>RS:314 <i>(RS 485 OFF)</i><h5>Rs:799</h5></h6>
    <button class="btn btn-success">Buy Now</button>
  </div>
  <div class="column">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/54.png" alt="Snow" style="width:200px"><br>
</div>
  <div class="column">
    <img src="assets/images/59.png" alt="Snow" style="width:200px">
    <h6><b>FUURAK</b></h6>
    <h6>Sizes:M,L,XL,XXL</h6>
    <h6>RS:399<h5>Rs:799</h5></h6>
    <button class="btn btn-success">Buy Now</button>
  </div>
  <div class="column">
   <img src="assets/images/60.png" alt="Snow" style="width:200px">
   <h6><b>WRONG</b></h6>
   <h6>Sizes:M,L,XL,XXL</h6>
   <h6>RS:799<h5>Rs:1199</h5></h6>
   <button class="btn btn-success">Buy Now</button>
 </div>
 <div class="column">
   <img src="assets/images/61.png" alt="Snow" style="width:200px">
   <h6><b>HRX by Hrithik Roshan</b></h6>
   <h6>Sizes:M,L,XL,XXL</h6>
   <h6>RS:799<h5>Rs:1299</h5></h6>
   <button class="btn btn-success">Buy Now</button>
 </div>
 <div class="column">
   <img src="assets/images/62.png" alt="Snow" style="width:200px">
   <h6><b>Urban Fashion</b></h6>
   <h6>Sizes:M,L,XL,XXL</h6>
   <h6>RS:314<h5>Rs:799</h5></h6>
   <button class="btn btn-success">Buy Now</button>
 </div>
 </div>

 