
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-7 intro-section">
            <div class="brand-wrapper">
                <img src="assets/images/loginImage.png">
            </div>
            
           
        </div>
        <div class="col-sm-6 col-md-5 form-section">
            <div class="login-wrapper">
                <h2 class="login-title">Change-password</h2> 
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">		
                    <div class="form-group">											
                        <label for="email" class="sr-only">Password:</label>											
                        <input type="email" class="form-control" placeholder="Email" formControlName="mailId" id="mailId">											
                        <div *ngIf="submitted && passwordForm.controls.mailId.errors" class="error">											
                          <div class="text-danger" *ngIf="passwordForm.controls.mailId.errors.required">email is required</div>											
                        </div>
                    </div>									
                      
                    <div class="form-group">											
                      <label for="password" class="sr-only">Password:</label>											
                      <input type="password" class="form-control" placeholder="New Password" formControlName="password" id="password">											
                      <div *ngIf="submitted && passwordForm.controls.password.errors" class="error">											
                        <div class="text-danger" *ngIf="passwordForm.controls.password.errors.required">password is required</div>											
                      </div>											
                                                                  
                    </div>											
                    <div class="form-group mb-3">											
                      <label for="pwd" class="sr-only" >Confirm Password:</label>											
                      <input type="password" class="form-control" placeholder="Confirm Password" formControlName="cpassword" id="cpassword">											
                      <div *ngIf="submitted && passwordForm.controls.cpassword.errors" class="error">											
                        <div class="text-danger" *ngIf="passwordForm.controls.cpassword.errors.required">Confirm Password is required</div>											
                      </div>											
                    </div>			
                    						
                    <button class="btn btn-success" [disabled]="!passwordForm.valid">Change Password</button> &nbsp; &nbsp;
                    
                    <br/><br/>											
                    <div *ngIf="invalidLogin" class="error">											
                      <div class="text-danger">Invalid credentials.</div>											
                    </div>											
                  </form>	
                </div>
        </div>
    </div>
</div>