<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <div class="card my-4 shadow-3">
          <div class="row g-0">
            <div class="col-xl-6 d-xl-block bg-image">
              <img src="assets/images/shipping_image.png" alt="Sample photo" class="img-fluid" />
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
  
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-4 text-uppercase">Shipping Address</h3>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n">Last name</label>
                    </div>
                  </div>
                </div>
  
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example8" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example8">Address</label>
                </div>
  
  
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <select class="select">
                      <option value="1">State</option>
                      <option value="2">Option 1</option>
                      <option value="3">Option 2</option>
                      <option value="4">Option 3</option>
                    </select>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <select class="select">
                      <option value="1">City</option>
                      <option value="2">Option 1</option>
                      <option value="3">Option 2</option>
                      <option value="4">Option 3</option>
                    </select>
  
                  </div>
                </div>
  
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3">Zip</label>
                </div>
  
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example2" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example2">Email</label>
                </div>
                <h6>
                <p>Note:COD Option<br><i>  By default we are providing Cash on Delivery</i></p></h6>

                <div class="d-flex justify-content-end pt-3">
                  <button type="button" class="btn btn-success btn-lg ms-2"
                    style="background-color:hsl(210, 100%, 50%) ">Confirm Order</button>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>