        <div class="wrapper">
         <img src="assets/images/1.gif" width="1263Px" height="350px">
        <img src="assets/images/6.png" width="1263Px" height="350px">
        <img src="assets/images/5.png" width="1263Px" height="350px">
        <img src="assets/images/4.png" width="1263Px" height="350px">
      </div>&nbsp;&nbsp;&nbsp;
      <img src="assets/images/8.png" width="1263Px" height="200px">
      &nbsp;
      <h3> DEALS OF THE DAY</h3>

      <div class="row">
        <div class="column">
          <img src="assets/images/9.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/10.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/11.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
            <img src="assets/images/12.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/13.png" alt="Snow" style="width: 200px">
          </div>
      </div>
      &nbsp;
      <h3> BIGGEST DEALS ON TOP BRANDS</h3>
      &nbsp;

      <div class="row">
        <div class="column">
          <img src="assets/images/14.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/15.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/16.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
            <img src="assets/images/17.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/18.png" alt="Snow" style="width: 200px">
          </div>
          <div class="column">
            <img src="assets/images/19.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/20.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/21.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
              <img src="assets/images/22.png" alt="Snow" style="width:200px">
            </div>
            <div class="column">
              <img src="assets/images/23.png" alt="Snow" style="width: 200px">
            </div>
      </div>


      &nbsp;
      <h3> CATEGORIES TO BAG</h3>
      &nbsp;

      <div class="row">
        <div class="column">
          <img src="assets/images/24.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/25.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/26.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
            <img src="assets/images/27.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/28.png" alt="Snow" style="width: 200px">
          </div>
          <div class="column">
            <img src="assets/images/29.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/30.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/31.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
              <img src="assets/images/32.png" alt="Snow" style="width:200px">
            </div>
            <div class="column">
              <img src="assets/images/33.png" alt="Snow" style="width: 200px">
            </div>
      </div>


      &nbsp;
      <h3> EXPLORE TOP BRANDS</h3>
      &nbsp;

      <div class="row">
        <div class="column">
          <img src="assets/images/34.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/35.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/36.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
            <img src="assets/images/37.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/38.png" alt="Snow" style="width: 200px">
          </div>
          <div class="column">
            <img src="assets/images/39.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/40.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/41.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
              <img src="assets/images/42.png" alt="Snow" style="width:200px">
            </div>
            <div class="column">
              <img src="assets/images/43.png" alt="Snow" style="width: 200px">
            </div>
      </div>

        
      &nbsp;
      <h3> TRENDING IN WESTERN WEAR</h3>
      &nbsp;

      <div class="row">
        <div class="column">
          <img src="assets/images/44.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/45.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/46.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
            <img src="assets/images/47.png" alt="Snow" style="width:200px">
        </div>
          <div class="column">
            <img src="assets/images/48.png" alt="Snow" style="width: 200px">
          </div>
      </div>
      
      <br>
      <h3> TRENDING IN INDIAN WEAR</h3>
      &nbsp;
      <div class="row">
        <div class="column">
          <img src="assets/images/49.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/50.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/51.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
            <img src="assets/images/52.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/53.png" alt="Snow" style="width: 200px">
          </div>
          

      &nbsp;
      