        
.wrapper{
    width: 100%;
    display: flex;
    
    animation: slide 16s infinite;
}
img{
    max-width: 100%;
    max-height: 100%;
}
/*
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
*/

* {
    box-sizing: border-box;
  }
  
  h3{
    text-align: center;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 1;
    margin-right: 1;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-shadow: .2em;
    color: rgb(83, 2, 56); 
}
  .column {
    float: left;
    width: 250px;
    padding: 2px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }