

        <div class="wrapper">
          <div id="slider">
            <figure>
            <img src="assets/images/108.png" alt>
            <img src="assets/images/109.png" alt>
            <img src="assets/images/110.png" alt>
            <img src="assets/images/111.png" alt>
            <img src="assets/images/112.png" alt>
            </figure>
            </div>&nbsp;&nbsp;&nbsp;
      <img src="assets/images/banner.png">
      &nbsp;
      <img src="assets/images/topbrand.png">

      <div class="row">
        <div class="column" >
          <img src="assets/images/12.png" alt="Snow"  style="width:300px">
        </div>
        <div class="column">
          <img src="assets/images/10.png" alt="Snow" style="width:300px">
        </div>
        <div class="column">
          <img src="assets/images/11.png" alt="Snow" style="width:300px">
        </div>
        <div class="column">
            <img src="assets/images/12.png" alt="Snow" style="width:300px">
          </div>
          <div class="column">
            <img src="assets/images/13.png" alt="Snow" style="width: 300px">
          </div>
          <div class="column">
            <img src="assets/images/12.png" alt="Snow" style="width:300px">
          </div>
         
          
      </div>
      &nbsp;
      <img src="assets/images/deals.png">
     <!-- <h3> BIGGEST DEALS ON TOP BRANDS</h3>-->
      &nbsp;

      <div class="row">
        <div class="column">
          <img src="assets/images/115.png" alt="Snow"  style="width:400px">
        </div>
        <div class="column">
          <img src="assets/images/116.png" alt="Snow" style="width:400px">
        </div>
        <div class="column">
          <img src="assets/images/117.png" alt="Snow" style="width:400px">
        </div>
        <div class="column">
          <img src="assets/images/118.png" alt="Snow" style="width:400px">
        </div>
        <div class="column">
            <img src="assets/images/119.png" alt="Snow" style="width:400px">
          </div>
          <div class="column">
            <img src="assets/images/120.png" alt="Snow" style="width: 400px">
          </div>
          </div>
          <div class="row">
          <div class="column">
            <img src="assets/images/126.png" alt="Snow" style="width: 400px">
          </div>
          <div class="column">
            <img src="assets/images/122.png" alt="Snow" style="width:400px">
          </div>
          <div class="column">
            <img src="assets/images/123.png" alt="Snow" style="width:400px">
          </div>
          <div class="column">
            <img src="assets/images/124.png" alt="Snow" style="width:400px">
          </div>
          <div class="column">
              <img src="assets/images/125.png" alt="Snow" style="width:300px">
            </div>
            <div class="column">
              <img src="assets/images/127.png" alt="Snow" style="width:300px">
            </div>
            
      </div>


      &nbsp;
      <img src="assets/images/click.png">
      &nbsp;

      <div class="row">
        <div class="column">
          <img src="assets/images/24.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/25.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/26.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
            <img src="assets/images/27.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/28.png" alt="Snow" style="width: 200px">
          </div>
          <div class="column">
            <img src="assets/images/31.png" alt="Snow" style="width: 200px">
          </div>
          </div>
          <div class="row">
          <div class="column">
            <img src="assets/images/29.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/30.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/31.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/21.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
              <img src="assets/images/32.png" alt="Snow" style="width:200px">
            </div>
            <div class="column">
              <img src="assets/images/33.png" alt="Snow" style="width: 200px">
            </div>
      </div>


      &nbsp;
      <h3> EXPLORE TOP BRANDS</h3>
      &nbsp;

      <div class="row">
        <div class="column">
          <img src="assets/images/34.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/35.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/36.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
            <img src="assets/images/37.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/38.png" alt="Snow" style="width: 200px">
          </div>
          <div class="column">
            <img src="assets/images/38.png" alt="Snow" style="width: 200px">
          </div>
        </div>
        <div class="row">
          <div class="column">
            <img src="assets/images/39.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/38.png" alt="Snow" style="width: 200px">
          </div>
          <div class="column">
            <img src="assets/images/40.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/41.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
              <img src="assets/images/42.png" alt="Snow" style="width:200px">
            </div>
            <div class="column">
              <img src="assets/images/43.png" alt="Snow" style="width: 200px">
            </div>
            
      </div>

        
      &nbsp;
      <h3> TRENDING IN WESTERN WEAR</h3>
      &nbsp;

      <div class="row">
        <div class="column">
          <img src="assets/images/44.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
              <img src="assets/images/43.png" alt="Snow" style="width: 200px">
            </div>
        <div class="column">
          <img src="assets/images/45.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/46.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
            <img src="assets/images/47.png" alt="Snow" style="width:200px">
        </div>
          <div class="column">
            <img src="assets/images/48.png" alt="Snow" style="width: 200px">
          </div>
      </div>
      
      <br>
      <h3> TRENDING IN INDIAN WEAR</h3>
      &nbsp;
      <div class="row">
        <div class="column">
          <img src="assets/images/49.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/50.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
          <img src="assets/images/51.png" alt="Snow" style="width:200px">
        </div>
        <div class="column">
            <img src="assets/images/52.png" alt="Snow" style="width:200px">
          </div>
          <div class="column">
            <img src="assets/images/53.png" alt="Snow" style="width: 200px">
          </div>
          <div class="column">
            <img src="assets/images/51.png" alt="Snow" style="width: 200px">
          </div>
          

      &nbsp;
      
